* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: url('bg.jpg') no-repeat center center fixed;
  background-size: cover;

}

.container {
  width: 100%;
  max-width: 420px;
  text-align: center;
  background: rgba(20, 20, 20, 0.8);
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.1);
}

h1 {
  font-size: 1.2rem;
  margin-bottom: 20px;
  color: white;
  background: linear-gradient(90deg, #00c6ff, #0072ff);
  padding: 10px 20px;
  border-radius: 8px;
  display: inline-block;
}

#noTaskMessage {
  color: #ccc;
  margin-top: 10px;
  font-style: italic;
}


.task-input {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.task-input input {
  width: 70%;
  padding: 12px;
  font-size: 16px;
  border: none;
  outline: none;
  border-radius: 8px 0 0 8px;
  background-color: #2c2c2c;
  color: #f1f1f1;
}

.task-input button {
  padding: 12px 20px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 0 8px 8px 0;
  background: linear-gradient(135deg, #00f260, #0575e6);
  color: white;
  transition: background 0.3s ease;
}

.task-input button:hover {
  background: linear-gradient(135deg, #0575e6, #00f260);
}

#taskList {
  list-style: none;
  padding: 0;
}

.task-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1f1f1f;
  padding: 12px;
  border-radius: 8px;
  margin-bottom: 10px;
  color: #fff;
  transition: transform 0.2s;
}

.task-item:hover {
  transform: scale(1.02);
  background-color: #292929;
}

.task-item input[type="checkbox"] {
  transform: scale(1.2);
  margin-right: 10px;
  cursor: pointer;
}

.task-item span {
  flex-grow: 1;
  text-align: left;
}

.completed {
  text-decoration: line-through;
  color: #888;
}

.delete-btn {
  background: linear-gradient(135deg, #ff416c, #ff4b2b);
  color: white;
  border: none;
  padding: 6px 12px;
  cursor: pointer;
  border-radius: 6px;
  transition: background 0.3s ease;
}

.delete-btn:hover {
  background: linear-gradient(135deg, #ff4b2b, #ff416c);
}